.avatar-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: auto;
  transition: opacity 0.15s linear;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}